# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas

import numpy as np 
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [21]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [20]:
# Your code here:

print('\nCount of non legendary pokemon:', pokemon[pokemon['Legendary']==False].shape[0])
print('Count of legendary pokemon:', pokemon[pokemon['Legendary']==True].shape[0])
print('\n')

Count of non legendary pokemon: 735
Count of legendary pokemon: 65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [31]:
# Your code here:
mean_non_legendary = pokemon[pokemon['Legendary']==False]['Total'].mean()
std_non_legendary = pokemon[pokemon['Legendary']==False]['Total'].std()

mean_legendary = pokemon[pokemon['Legendary']==True]['Total'].mean()
std_legendary = pokemon[pokemon['Legendary']==True]['Total'].std()

print(f'\nMean of Non legendary Total Points: {mean_non_legendary}, \nStandard deviation: {std_non_legendary} ')
print(f'\nMean of legendary Total Points: {mean_legendary}, \nStandard deviation: {std_legendary} ')
print('\n')

Mean of Non legendary Total Points: 417.21360544217686,
Standard deviation: 106.76041745713022

Mean of legendary Total Points: 637.3846153846154,
Standard deviation: 60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
# Your code here:

import scipy.stats as st

st.ttest_ind(pokemon[pokemon['Legendary']==False]['Total'], pokemon[pokemon['Legendary']==True]['Total'], equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

# H0: the two population means are equal
# H1: the two population means are not equal

#According to our test with a 95% confidence level we can say that as our p is lower that 0.05, we reject the null hipothesis and therefore the two populations means are not equal

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [35]:
# Your code here:

pd.DataFrame(pokemon['Type 1'].value_counts())

          Type 1
Water        112
Normal        98
Grass         70
Bug           69
Psychic       57
Fire          52
Rock          44
Electric      44
Dragon        32
Ground        32
Ghost         32
Dark          31
Poison        28
Steel         27
Fighting      27
Ice           24
Fairy         17
Flying         4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [36]:
# Your code here:
mean_water = pokemon[pokemon['Type 1']=='Water']['Total'].mean()
std_water = pokemon[pokemon['Type 1']=='Water']['Total'].std()

mean_non_water = pokemon[pokemon['Type 1']!='Water']['Total'].mean()
std_non_water = pokemon[pokemon['Type 1']!='Water']['Total'].std()

print(f'\nMean of Water Total Points: {mean_water}, \nStandard deviation: {std_water} ')
print(f'\nMean of non Water Total Points: {mean_non_water}, \nStandard deviation: {std_non_water} ')
print('\n')

Mean of Water Total Points: 430.45535714285717,
Standard deviation: 113.18826606431458

Mean of non Water Total Points: 435.85901162790697,
Standard deviation: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [37]:
# Your code here:

st.ttest_ind(pokemon[pokemon['Type 1']=='Water']['Total'], pokemon[pokemon['Type 1']!='Water']['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:

# H0: the two population means are equal
# H1: the two population means are not equal

# We have a p value of 0.65 , with a 95% confidence level we can say that we do not reject null hipothesis, and therefore we can not say they have diferent means

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [38]:
# Your code here:

st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

H0: Defense Score = Attack Score
H1: Defense Score != Attack Score
    
    With a significance of 5%, we can say that we reject our Null hipothesis and the attack score is different than the defense score

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [44]:
# Your code here:


st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

# H0: the two population means are equal
# H1: the two population means are not equal

# With a confidence level of 95% we do not reject the hipothesis of the two means being equal

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [43]:
# Your code here:

difference = np.subtract(pokemon['Attack'],  pokemon['Defense'])

st.ttest_1samp(difference,0)

# H0 : Difference between the means is zero
# H1 : Differene betweens means is not zero

# With a confidence level of 95 % the dfference between the means is not zero, so means are different . We reject the null hipothesis

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: